# ALL =
  #   # login 
  #   # 注册
  #   signup:
  #     uri:
  #       online: =>
  #         "#{config.baseUri.online_uri}/users?fetchWhenSave=true"
  #       local: =>
  #         "#{config.baseUri.local_uri}/signup"
  #     method: 'POST'
    
  #   # 登录
  #   login:
  #     uri:
  #       online: =>
  #         "#{config.baseUri.online_uri}/login"
  #       local: =>
  #         "#{config.baseUri.local_uri}/login"
  #     method: 'POST'
    
  #   # user
  #   # 创建自然人
  #   create:
  #     uri:
  #       online: =>
  #         "#{config.baseUri.online_uri}/classes/#{className.user}?fetchWhenSave=true"
  #       local: =>
  #         "#{config.baseUri.local_uri}/user/create"
  #     method: 'POST'

  #   # 查找单个
  #   fetch:
  #     uri:
  #       online: (data)=>
  #         "#{config.baseUri.online_uri}/classes/#{className.user}/#{data.objectId}"
  #       local: (data)=>
  #         "#{config.baseUri.local_uri}/user/fetch/#{data.objectId}"
  #     method: 'GET'
    
  #   # 更新
  #   update:
  #     uri:
  #       online: (data)=>
  #         "#{config.baseUri.online_uri}/classes/#{className.user}/#{data.objectId}?fetchWhenSave=true"
  #       local: (data)=>
  #         "#{config.baseUri.local_uri}/user/update/#{data.objectId}"
  #     method: 'PUT'
    
  #   # 查找全部
  #   reload:
  #     uri:
  #       online: =>
  #         "#{config.baseUri.online_uri}/classes/#{className.user}"
  #       local: =>
  #         "#{config.baseUri.local_uri}/user/fetch"
  #     method: 'GET'
    
  # # 如果有其他拓展 自行添加 比如 className
  # className =
  #   login:    '_User'
  #   user:     'Person'
  #   landlord: 'Landlord'
  #   tenant:   'Tenant'
  #   todo:     'Todo'

  # _headers:
  #   baseHeader: header.base
  #   masterHeader: header.master

  # baseUri:
  #   online_uri: "https://xY1g1Vfw.api.lncld.net/1.1"
  #   local_uri: "http://192.168.0.192:7001"

  # # localhost
  # local:
  #   signup:
  #     headers: header.base
  #     uri: ALL.signup.uri.local
  #     method: ALL.signup.method

  # # call online
  # lc:
  #   signup:
  #     className: className.login
  #     headers: header.base
  #     uri: ALL.signup.uri.online
  #     method: ALL.signup.method